
* {
    margin: 0;
    padding: 0;
    cursor:default;
}

html::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
  
  html {
    font-size: 10px;
  }


/* Body styles */

body {
    background-color: rgb(5,10,20);
    color: white;  
}


/* Menu */

.menuBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
}

.menuBar .logo {
    height: 70px;
    margin: 20px 20px;
}

.menuBar .menuItems {
   display: flex;
   height: 100px;
   margin-right: 60px;
   gap: 45px;
   font-size: 3.4rem;
   text-transform: uppercase;
   font-family: 'Julius Sans One', sans-serif;

}

.menuItems li {
    line-height: 70px;
    margin-top: 30px;
    cursor: pointer;
    list-style: none;
}


.menuLine {
    height: 3px;
    width: 0%;
    background: linear-gradient(-45deg, #BF953F, #ddd578, #B38728, #BF953F);
    background-size: 400% 400%;
    animation: gradientMove 4s ease infinite;
    transition: .3s;
}

.menuItems li:hover .menuLine{
    width: 100%;
}


.startScreen {
  height: 100dvh;
  width: 100%;
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.startScreen video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* Attributes */


.attributeBorder {
    width: 80%;
    min-width: 1000px;
    max-width: 1200px;
    height: 400px;
    padding: 3px; 
    position: absolute;
    top: calc(100% - 350px);
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(-45deg, #BF953F, #d4a848, #B38728, #BF953F);
    border-radius: 50px;
    background-size: 400% 400%;
    animation: gradientMove 4s ease infinite;
}


.attributesWrapper {
    height: 400px;
    min-width: 1000px;
    max-width: 1200px;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.djAttributes {
    border-radius: 48px;
    background-color: rgb(5,10,20);
}

.djAttributes img {
   width: 220px;
}


.djAttributes p {
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    cursor: default;
}


/* Responsive home page */

@media (max-width: 1400px) {

    .attributeBorder {
        height: 350px;
        min-width: 800px;
        max-width: 1000px;
        top: calc(100% - 300px);
    }

    .attributesWrapper {
        height: 350px;
        min-width: 800px;
        max-width: 1000px;
    }

    .djAttributes img {
        width: 180px;
     }


   
}

@media (max-width: 1200px) { 
    .startScreen {
        min-width: 800px;
        max-width: 1200px;
      }   

      .menuBar {
        min-width: 800px;
        max-width: 1200px; 
    }   

    .menuBar img {
        height: 60px;
    }

    .menuBar .logo {
        height: 60px;
        margin-left: 30px;
    }

    .menuBar .menuItems {
        height: 90px;
        margin-right: 60px;
        gap: 35px;
        font-size: 3rem;
     }

     .menuItems li {
        line-height: 60px;
    }

    .attributeBorder {
        height: 300px;
        min-width: 500px;
        max-width: 800px;
        top: calc(100% - 260px);
    }

    .attributesWrapper {
        height: 300px;
        min-width: 500px;
        max-width: 800px;
        gap: 25px;
    }

    .djAttributes img {
        width: 160px;
     }

    .djAttributes p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1000px) {
  
    .menuBar img {
        height: 50px;
    }

    .menuBar .logo {
        height: 50px;
        margin-left: 25px;
    }

    .menuBar .menuItems {
        height: 80px;
        margin-right: 50px;
        font-size: 2.8rem;
     }

     .menuItems li {
        line-height: 50px;
    }

    .attributeBorder {
        height: 260px;
        min-width: 500px;
        max-width: 700px;
        top: calc(100% - 230px);
    }

    .attributesWrapper {
        height: 260px;
        min-width: 500px;
        max-width: 700px;
        gap: 20px;
    }

    .djAttributes img {
        width: 140px;
     }

    .djAttributes p {
        font-size: 1.5rem;
    }
}

@media (max-width: 850px) {

    .startScreen {
        min-width: 700px;
        max-width: 850px;
      }   

      .menuBar {
        min-width: 700px;
        max-width: 850px; 
    }   

    .menuBar img {
        height: 50px;
    }

    .menuBar .logo {
        height: 50px;
        margin-left: 20px;
    }

    .menuBar .menuItems {
        height: 70px;
        margin-right: 40px;
        gap: 25px;
        font-size: 2.6rem;
     }

     .menuItems li {
        line-height: 50px;
    }

    .menuLine {
        height: 2px;
    }


    .attributeBorder {
        height: 230px;
        top: calc(100% - 195px);
    }

    .attributesWrapper {
        height: 230px;
        gap: 15px;
    }

    .djAttributes img {
        width: 110px;
     }

    .djAttributes p {
        font-size: 1.1rem;
    }
}

@media (max-width: 700px) {

    .startScreen {
        width: 100%;
        min-width: 300px;
      }   

      .menuBar {
        width: 100%;
        min-width: 300px; 
    }

    .menuBar .logo {
        height: 70px;
        margin: 20px auto;
    }

    .menuBar img {
        height: 60px;
    }

    .menuBar .menuItems {
       display: none;
    }

    /* Attributes */

    .mobileAttributeWrapper {
        position: relative;
        top: 0;
        left: 0;
        height: 100dvh;
        width: 100%;
        overflow: hidden;

    }

.attributeBorder {
    height: 570px;
    width: 20%;
    min-width: 170px;
    max-width: 190px;
    padding: 2px; 
    top: 50px;
    left: 100%;
    transform: translateX(calc(-100% + 35px + 2px));
    border-radius: 30px;
}
    .attributesWrapper {
        height: 570px;
        min-width: 130px;
        max-width: 150px;
        margin-right: 35px;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .djAttributes {
        border-radius: 28px;
    }


    .djAttributes img {
        width: 87px;
     }

    .djAttributes p {
        font-size: 1rem;
    }

}

/* Special sizes resposive attributes */

@media (max-width: 360px),  (max-height: 740px) {
    .attributeBorder {
        top: 10px;
    }
}


/* ABOUT */


 .djImageMobile {
    display: none;
 }

.descriptionWrapper {
    width: 95%;
    max-width: 1920px;
    height: 750px;
    margin: 15rem auto 0 auto;
}

.descriptionBorder {
    width: 100%;
    height: 750px;
    padding: 3px; 
    background: linear-gradient(-45deg, #BF953F, #d4a848, #B38728, #BF953F);
    border-radius: 50px;
    background-size: 400% 400%;
    animation: gradientMove 4s ease infinite;
}

.about .descriptionInside {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background-color: rgb(4,9,17);
    overflow: hidden;
}

.about .djImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.djImage img {
    width: 100%;
}

.about .djDescription {
    width: 100%; 
}



.djDescription p {
    box-sizing: border-box;
    padding: 2.5em;
    text-align: center;
    font-size: 2.6rem;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}


/* Responsive about */

@media (max-width: 1400px) {
    .descriptionWrapper {
        height: 600px;
    }

    .descriptionBorder {
        height: 600px;
    }
    
    .djDescription p {
        padding: 2.3em;
        font-size: 2.2rem;
    }
}

@media (max-width: 1200px) {

    .descriptionWrapper {
        height: 550px;
    }

    .descriptionBorder {
        height: 550px;
      
    }
    
    .djDescription p {
        padding: 2.1em;
        font-size: 2rem;
    }
}

@media (max-width: 1000px) {

    .descriptionWrapper {
        height: 500px;
        margin-top: 10rem;
    }

    .descriptionBorder {
        height: 500px;
      
    }
    
    .djDescription p {
        padding: 1.8em;
        font-size: 1.8rem;
    }
}

@media (max-width: 850px) {

    .descriptionWrapper {
        height: 440px;
    }

    .descriptionBorder {
        height: 440px;
    }
    
    .djDescription p {
        padding: 1.4em;
        font-size: 1.6rem;
    }
}

@media (max-width: 700px) {

    .djImage {
        display: none;
    }

    .djImageMobile {
        display: block;
        width: 55%;
        margin: 8rem auto 0 auto;
    }

    .descriptionWrapper {
        height: auto;
        margin-top: 0px;
    }

    .descriptionBorder {
        height: auto;
        padding: 2px; 
        border-radius: 36px;
    }
    .about .descriptionInside {
        border-radius: 34px;
    }
    
    .djDescription p {
        padding: 2.3em;
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {

    .djDescription p {
        padding: 2em;
        font-size: 1.4rem;
    }
    .djImageMobile {
        width: 60%;
    }
}

@media (max-width: 450px) {

    .descriptionWrapper {
        height: auto;
    }

    .descriptionWrapper {
        width: 90%;
    }

    .descriptionBorder {
        height: auto;
    }
}

@media (max-width: 390px) {

    .djImageMobile {
        width: 65%;
    }

    .djDescription p {
        font-size: 1.3rem;
        padding: 1.9em
    }
}

/* GALLERY */

.gallery h1 {
    width: 100%;
    margin: 6.5rem 0;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

.filterWrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.filterPick ul {
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    gap: 20px;
    font-size: 1.5rem;
}

.filterPick li {
    list-style: none;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}

.filterPick li:nth-child(n+2) {
    cursor: pointer;
}

.filterPick li.filterSelected {
    border-bottom: 1px solid white;
}

.galleryWraper {
    max-width: 1280px;
    max-height: 75dvh;
    margin: 0 auto;
    overflow-y: scroll;
    
}

.mainGallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
    max-width: 1280px;
    margin: 0 10px;
}

.mainGallery video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.mainGallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.mainGallery video.galleryItem {
    width: 100%;
}

/* Scrollbar gallery style */

.galleryWraper::-webkit-scrollbar { 
    width: 5px; 
} 

.galleryWraper::-webkit-scrollbar-track { 
    background: rgba(240, 240, 240, .1); 
} 

.galleryWraper::-webkit-scrollbar-thumb { 
    background: -webkit-linear-gradient(#ad7f23b2, #ca9c38af);   
}

.galleryWraper::-webkit-scrollbar-thumb:hover { 
    background: -webkit-linear-gradient(#ad7f23, #ca9c38);
} 


/* Responsive gallery */

@media (max-width: 1400px) {

    .gallery h1 {
        margin: 4.5rem 0;
        font-size: 4.2rem;
    }
}

@media (max-width: 1200px) {

    .gallery h1 {
        margin: 5rem 0;
        font-size: 4rem;
    }
}

/* Gallery grid */

@media (max-width: 1000px) {
   
    .mainGallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
 
}


@media (max-width: 700px) {

    .mainGallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .galleryWraper::-webkit-scrollbar { 
        width: 0px; 
    } 

    .gallery h1 {
        margin: 4rem 0;
        font-size: 3.5rem;
    }

    .filterPick ul {
        margin-bottom: 7px;
        gap: 1.3rem;
        font-size: 1.3rem;  
    }

    .filterPick li {
        line-height: 20px;
    }

    .filterPick ul li img {
        width: 20px;
    }
}

@media (max-width: 400px) {
    .gallery h1 {
        margin: 5rem 0 4rem 0;
        font-size: 3.3rem;
    }
}


/* Contact */


.contact h1 {
    width: 100%;
    margin: 6.5rem 0;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 5rem;
    text-transform: uppercase;
}

.contact p {
    display: block;
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
}

.contact i {
    margin-right: 8px;
    font-size: 1.8rem;
    background: -webkit-linear-gradient(-45deg, #BF953F, #d4a848, #B38728, #BF953F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact h2 {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
}

.smallInput {
    display: block;
    width: 25vw;
    height: 40px;
    margin: 15px auto;
    padding:0 12px;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -13px rgba(66, 68, 90, .6);
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

.userNameInput {
    width: 15vw;
}

.textMessage {
    display: block;
    width: 60vw;
    height: 250px;
    margin: 15px auto;
    padding:12px 12px;
    border: 0 solid white;
    border-radius: 10px;
    box-shadow: inset 10px 10px 15px -13px rgba(66, 68, 90, .6);
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    resize: none;
    outline: none;
    cursor: pointer;
}

.sendMessage {
  display: block;
  width: 150px;
  height: 40px;
  margin: 25px auto 0px auto;
  border-radius: 15px;
  border: 2px solid rgba(2, 2, 2, .2);
  font-size: 1.8rem;
  font-family:'roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 0px 2px black;
  color: black;
  background: linear-gradient(-45deg, #ad7f23, #b68b2f, #ca9c38, #aa8233);
  background-size: 300% 300%;
  cursor: pointer;
  transition: .2s;
}

.contact .formValidationLabel {
  display: block;
  width: 200px;
  height: 12px;
  margin: 1.2rem auto 14rem auto;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: none;
  cursor: default;
}

.sendMessage:hover {
    animation: gradientMove 3s ease infinite;
}

/* Responsive Contact */

@media (max-width: 1400px) {
    .contact h1 {
        margin: 4.5rem 0;
        font-size: 4.2rem;
    }
}

@media (max-width: 1200px) {
    .contact h1 {
        margin: 5rem 0;
        font-size: 4rem;
    }

    .contact h2 {
        margin: 3.6rem 0;
        font-size: 2.8rem;
    }

    .smallInput {
        width: 35vw;
    }

    .userNameInput {
        width: 20vw;
    }

}

@media (max-width: 950px) {
  
    .smallInput {
        width: 40vw;
    }

    .userNameInput {
        width: 25vw;
    }

  
    .textMessage {
        width: 80vw;
        height: 250px;
    }

}


@media (max-width: 700px) {

    .contact h1 {
        margin: 4rem 0;
        font-size: 3.5rem;
    }
    
    .contact i {
        margin-right: 8px;
        font-size: 1.8rem;
    }

    .smallInput {
        width: 60vw;
    }

    .userNameInput {
        width: 35vw;
    }

    .contact h2 {
        margin: 3.2rem 0;
        font-size: 2.5rem;
    }
 
}

@media (max-width: 400px) {
    .contact h1 {
        margin: 4rem 0;
        font-size: 3.5rem;
    }
    
    .contact i {
        margin-right: 8px;
        font-size: 1.8rem;
    }

    .smallInput {
        width: 70vw;
        height: 32px;
        font-size: 1.3rem;
    }

    .userNameInput {
        width: 40vw;
    }

    .textMessage {
        width: 85vw;
        height: 200px;
        font-size: 1.3rem;
    }

    .contact h2 {
        margin: 3rem 0;
        font-size: 2.4rem;
    }
  
}


/* Footer */

.mkFooter {
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 30);
}

.mkFooter a {
 display: block;
 line-height: 40px;
 margin-left: 20px;
}

.mkFooter p {
    display: inline-block;
    font-family: roboto;
    font-weight: 300;
    text-decoration: none;
    font-size: 2.2rem;
    color: white;
}

.mkFooter p:nth-child(2) {
    background: -webkit-linear-gradient(#ad7f23, #ca9c38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}


/* Responsive Footer */


@media (max-width: 900px) {

    .mkFooter a {
        display: block;
        line-height: 40px;
        margin-left: 20px;
       }


       .mkFooter p {
        font-size: 2rem;
    }
    
}

@media (max-width: 460px) {

    .mkFooter a {
        margin-left: 15px;
       }


       .mkFooter p {
        font-size: 1.7rem;
    }
    
}


/* Animations */


@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

 
